.ant-menu-item-selected{
    color: #ED8D8D !important;
    border-bottom-color:  #ED8D8D !important;
}

.ant-menu-item-selected::after,
.ant-menu-item:hover::after{
    border-bottom-color:  #ED8D8D !important;
}






